body,
html, *{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}


h2 {
    text-align: center;
}

.gallery {
    width: 80%;
    padding-top: 2vh;
    border-radius: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.cards{
    border-radius: 5vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin: 2.5vh;
    flex-basis: 20%;
}

.clear {
    align-items: center;
}

#img {
    min-width: 20rem;
    min-height: 20rem;

}