body,
html, *{
    font-size: 20px;
}


h2 {
    text-align: center;
}
.gallery {
        margin-top: 5vh;
        margin-bottom: 1vh;
        width: 80%;
        padding-top: 2vh;
        border-radius: 5vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
}

.cards {
    padding-top: 3vh;
    border-radius: 5px;
    background-color: blue;
}