body,
html, *{
    font-size: 20px;
    text-align: center;
}


h2 {
    text-align: center;
}
.gallery {
        margin-top: 3vh;
        margin-bottom: 2vh;
        width: 80%;
        padding-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
}

.cards {
    text-align: center;
    padding-top: 3vh;
    background-color: blue;
    display: flex;
    width: 30vh;

}

#image {
    justify-content: center;
    width: 30vh;
    height: 50vh;
}